@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

body {
    background-color: #0e0d0d;
    color: #FFFFFF;

    user-select: none;

    font-family: "JetBrains Mono", monospace;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.question-container {
    /* width: 100%;
    height: 100%; */
    width: fit-content;
    height: fit-content;
    background-color: #171717;
    padding: 4em;
    left: 0;
    right: 0;

    outline: 2px solid rgba(255, 255, 255, 0.1);

    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: .3s ease;
    transition-property: transform, left, right;
}

.question-navigator {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

/* prev and next navigators */
.question-navigator .nav-previous {
    cursor: pointer;
    color: white;

    padding-left: 1.5vh;
    padding-right: 1.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

    background-image: linear-gradient(0deg, white 0%, white 100%);
    background-repeat: no-repeat;
    background-size: 0.1em 100%;
    background-position: 0 100%;

    transition: 0.3s ease;
    transition-property: color, background-size;
}

.question-navigator .nav-previous:hover {
    background-size: 100% 100%;
    color: #171717;
}

.question-navigator .nav-next {
    cursor: pointer;
    color: white;

    padding-left: 1.5vh;
    padding-right: 1.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

    background-image: linear-gradient(0deg, white 0%, white 100%);
    background-repeat: no-repeat;
    background-size: 0.1em 100%;
    background-position: 100% 0;

    transition: 0.3s ease;
    transition-property: color, background;
}

.question-navigator .nav-next:hover {
    background-size: 100% 100%;
    color: #171717;
}
/* prev and next navigators */

.child {
    display: flex;

    width: 50vw;

    flex-direction: column;
}

.options {
    margin-top: 25px;
    display: flex;
    font-size: 15px;

    /* display: none; */

    flex-direction: column;
    justify-content: space-around;
}

.option {
    /* transform: translateZ(20px); */

    cursor: pointer;
    transform: scale(1);

    color: white;
    padding: 1vh;
    margin-top: 10px;
    margin-bottom: 10px;

    /* background-color: rgba(255, 255, 255, 1); */
    outline: 2px solid white;
    transition: 0.3s ease;
    transition-property: color, background, transform;
}

.top-text {
    display: flex;
}

.question {
    width: 100%;

    font-size: 100%;
    text-align: left;
}

.number-box {
    width: 75px;
    height: 75px;

    margin-right: 50px;

    text-align: center;
    vertical-align: middle;
    line-height: 75px;

    font-size: 50px;
    outline: 2px solid #FFFFFF;

    cursor: pointer;

    transition: 0.3s ease;
    transition-property: color, background;
}

.number-box:hover {
    background-color: white;
    color: #171717;
}

.spacer {
    flex-grow: 100;
}

/* decoy previous and next questions */
.previous-question-container {
    position: absolute;
    left: -35vw;

    transform: scale(.65);

    width: fit-content;
    height: fit-content;
    background-color: #171717;
    padding: 4em;

    outline: 2px solid rgba(255, 255, 255, 0.1);

    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: .3s ease;
    transition-property: transform, left;
}

.next-question-container {
    position: absolute;
    right: -35vw;

    transform: scale(.65);

    width: fit-content;
    height: fit-content;
    background-color: #171717;
    padding: 4em;

    outline: 2px solid rgba(255, 255, 255, 0.1);

    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: .3s ease;
    transition-property: transform, right;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}